/* Add your custom CSS styles here */
body {
    font-family: 'Poppins', sans-serif; /* Use Google Font */
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}
header {
    background-color: #ff9e55;
    padding: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}
nav a {
    margin-right: 12px;
    color: #fff;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ff9e55;
}
p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}
img {
    max-width: 100%;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.animated {
    animation: fadeIn 1.5s ease;
}
