/* Light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: black;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #000000;
    color: white;
}

a {
    text-decoration: none;
    color: #5a0400;
}

.clock {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    padding: 5px;
    background-color: #f7f7f7;
    color: black;
    border-radius: 1000px;
    text-align: center;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.checkbox-label {
    display: flex;
    align-items: center; /* This will vertically center the checkbox and label */
}

.checkbox {
    margin-right: 5px; /* Adjust the space between the checkbox and the label */
}

.clock span {
    padding: 0 10px;
    border-radius: 4px;
    background-color: #fff;
    color: #f44336;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

.class-info {
    background-color: #e7ffe7;
    border-left: 6px solid #4CAF50;
    margin-bottom: 15px;
    padding: 20px;
}

.class-info h2 {
    margin-top: 0;
}

.join-class {
    background-color: #fff;
    padding: 20px;
}

.join-class form {
    max-width: 300px;
    margin: auto;
}

.join-class label, .join-class input, .join-class button {
    display: block;
    width: 100%;
}

.join-class label {
    margin-bottom: 5px;
}

.join-class input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.join-class button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.join-class button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #30303033;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

nav a {
    margin-right: 30px;
}

/* Animation */
@keyframes slideInOut {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.header h1 {
    animation: slideInOut 12s linear;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated {
    animation: fadeIn 5s ease;
} 
